<?xml version="1.0" ?>
<Modeler>
    <MDMProxy>
        <InfoCode>NSI</InfoCode>
        <SchemaName>bms</SchemaName>
        <URL>http://127.0.0.1:5001/</URL>
        <URL_TSDB>http://127.0.0.1:3000/</URL_TSDB>
	    <Check_mas_db>30 </Check_mas_db>
        <UserName>superadmin</UserName>
        <Password>Kirill!981</Password>
    </MDMProxy>
</Modeler>
